<layout>
  <div class="right_col" role="main">
    <div class="container">

      <div class="page-title">
        <div class="title_left" style="display: flex; justify-content: space-between;">

          <div class="d-flex" style="align-items: center;">
            <h3>User Profile</h3>
          </div>

          <div class="controls" style="display: flex;">
            <a (click)="Back()" class="nav-link">
              <i class="fas fa-arrow-left" style="color: #5ba146;" title="Back"></i>
            </a>
            <a class="nav-link" (click)="EditMode()" *ngIf="hasUpdateAccess && !isEditMode && !isNewMode">
              <i class="fas fa-pen" style="color: #5ba146;" title="Edit"></i>
            </a>

            <a class="nav-link" (click)="CancelEdit()" *ngIf="isEditMode || isNewMode">
              <i class="fas fa-times" style="color: #5ba146;" title="Cancel"></i>
            </a>

            <a class="nav-link" (click)="onSubmit()"
              *ngIf="(hasUpdateAccess || hasAddAccess) && (isEditMode || isNewMode)">
              <i class="fas fa-save" style="color: #5ba146;" title="Save"></i>
            </a>

            <a class="nav-link" (click)="DeleteRecord()" *ngIf="hasDeleteAccess">
              <i class="fas fa-trash" style="color: #5ba146;" title="Delete"></i>
            </a>
          </div>


        </div>

      </div>
      <hr />
      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 ">
        <form [formGroup]="userprofileform">
          <div class="row">
            <div class="col-sm-6">
              <label for="userId">User Name</label>
              <select formControlName="userId" class="form-select" #myuser (change)="onUserChange(myuser.value)"
                [ngClass]="{ 'is-invalid': submitted && f.userId.errors }">
                <!--<option value="0">--All--</option>-->
                <option *ngFor="let congfig of userlist" value={{congfig.userid}}>
                  {{congfig.username}}
                </option>
              </select>
              <div *ngIf="submitted && f.userId.errors" class="invalid-feedback">
                <div *ngIf="f.userId.errors.required">Username is required</div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <label for="designation">User Designation</label>
              <input type="text" formControlName="designation" class="form-control" readonly />
            </div>

          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <label for="distributorName">Entity Name</label>
              <input type="text" formControlName="distributorName" class="form-control" readonly />
            </div>
            <div class="col-md-6 col-sm-6">
              <label for="price">Profile</label>
              <select formControlName="profileId" class="form-select"
                [ngClass]="{ 'is-invalid': submitted && f.profileId.errors }">
                <!--<option value="0">--All--</option>-->
                <option *ngFor="let profile of profilelist" value={{profile.id}}>
                  {{profile.profilename}}
                </option>
              </select>
              <div *ngIf="submitted && f.profileId.errors" class="invalid-feedback">
                <div *ngIf="f.profileId.errors.required">Profile Name is required</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4" *ngIf="hidetable==true">
              <label for="price">Profile for</label>
              <select formControlName="profileForId" #profileId (change)="onprofileClick(profileId.value)"
                class="form-select" [ngClass]="{ 'is-invalid': submitted && f.profileForId.errors }">
                <!--<option value="0">--All--</option>-->
                <option *ngFor="let l of listTypeItems" value={{l.listTypeItemId}}>
                  {{l.itemname}}
                </option>
              </select>
              <div *ngIf="submitted && f.profileForId.errors" class="invalid-feedback">
                <div *ngIf="f.profileForId.errors.required">Profile Name is required</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <label for="roleId">Role</label>
              <select formControlName="roleId" class="form-select" (change)="onRoleChange($event.target.value)"
                [ngClass]="{ 'is-invalid': submitted && f.roleId.errors }">
                <!--<option value="0">--All--</option>-->
                <option *ngFor="let r of roleList" value={{r.listTypeItemId}}>
                  {{r.itemname}}
                </option>
              </select>
              <div *ngIf="submitted && f.roleId.errors" class="invalid-feedback">
                <div *ngIf="f.roleId.errors.required">Role is required</div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6" *ngIf="isEng || isDist">
              <label for="regions">Distributor Regions</label>
              <ng-multiselect-dropdown [settings]="dropdownSettings" [disabled]="!isEditMode && !isNewMode"
                [data]="regionList" id="regions" formControlName="distRegions">
              </ng-multiselect-dropdown>
              <div *ngIf="submitted && f.distRegions.errors" class="invalid-feedback">
                <div *ngIf="f.distRegions.errors.required">Distributor Region is required</div>
              </div>
            </div>

            <div class="col-md-6 col-sm-6" *ngIf="isEng || isDist">
              <label for="businessUnitId">Business Unit</label>
              <ng-multiselect-dropdown [settings]="businessUnitDropdownSettings" [disabled]="!isEditMode && !isNewMode"
                [data]="businessUnitList" id="businessUnitId" formControlName="businessUnitId">
              </ng-multiselect-dropdown>
              <div *ngIf="submitted && f.businessUnitId.errors" class="invalid-feedback">
                <div *ngIf="f.businessUnitId.errors.required">Business Unit is required</div>
              </div>
            </div>

            <div class="col-md-6 col-sm-6" *ngIf="isEng || isDist">
              <label for="brandId">Brand</label>
              <ng-multiselect-dropdown [settings]="brandDropdownSettings" [disabled]="!isEditMode && !isNewMode"
                [data]="brandList" id="brandId" formControlName="brandId">
              </ng-multiselect-dropdown>
              <div *ngIf="submitted && f.brandId.errors" class="invalid-feedback">
                <div *ngIf="f.brandId.errors.required">Brand is required</div>
              </div>
            </div>

            <div class="col-md-6 col-sm-6" *ngIf="isCustomer">
              <label for="site">Customer Sites</label>
              <ng-multiselect-dropdown [settings]="siteDropdownSettings" [disabled]="!isEditMode && !isNewMode"
                [data]="siteList" id="site" formControlName="custSites">
              </ng-multiselect-dropdown>
              <div *ngIf="submitted && f.custSites.errors" class="invalid-feedback">
                <div *ngIf="f.custSites.errors.required">Customer Site is required</div>
              </div>
            </div>


          </div>
          <div class="row" *ngIf="hidetable==true">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Select</th>
                    <th>Level 1</th>
                    <th>Level 2</th>
                    <th>Region</th>
                  </tr>
                </thead>
                <tbody>
                  <tr formArrayName="profileRegions"
                    *ngFor="let item of userprofileform.get('profileRegions')['controls'];let i=index">
                    <td [formGroupName]="i">
                      <input type="hidden" formControlName="level1id" />
                      <input type="hidden" formControlName="level2id" />
                      <input type="hidden" formControlName="profileRegionId" />
                      <input type="checkbox" formControlName="select" />
                    </td>
                    <td [formGroupName]="i">{{ getName(i).level1Name }}</td>
                    <td [formGroupName]="i">{{ getName(i).level2Name}}</td>
                    <td [formGroupName]="i">{{ getName(i).Level2Level1Name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <hr />
        </form>
      </div>
    </div>
  </div>
</layout>