<layout>
  <div class="right_col" role="main">
    <div class="container">
      <div class="page-title">
        <div class="title_left">
          <h3>Local Expenses</h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr />

      <div class="col-md-12 col-sm-12 ">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">


            <div class="col-sm-4">
              <label>Distributor</label>
              <select #distributorid (input)="getengineers($event.target.value)"
                [ngClass]="{'is-invalid':submitted && f.distId.errors }" class="form-select" formControlName="distId">
                <option *ngFor="let i of DistributorList" value="{{i.id}}">{{i.distname}}</option>
              </select>

              <div *ngIf="submitted && f.distId.errors" class="invalid-feedback">
                <div *ngIf="f.distId.errors.required">Distributor is required</div>
              </div>

            </div>

            <div class="col-sm-4">
              <label>Engineer Name</label>

              <select formControlName="engineerid" #engineerId
                [ngClass]="{'is-invalid':submitted && f.engineerid.errors }"
                (change)="getservicerequest(distId,$event.target.value)" class="form-select">
                <option *ngFor="let i of engineer" value="{{i.id}}">{{i.fname + " " + i.lname}}</option>
              </select>

              <div *ngIf="submitted && f.engineerid.errors" class="invalid-feedback">
                <div *ngIf="f.engineerid.errors.required">Engineer Name is required</div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <label for="servicerequestid">Service Request No.</label>
              <ng-select [multiple]="true" formControlName="servicerequestid">
                <ng-option *ngFor="let i of servicerequest" value="{{i.id}}">{{i.serreqno}}</ng-option>
              </ng-select>
              <div Style="display: block" *ngIf="submitted && f.servicerequestid.errors" class="invalid-feedback">
                <div *ngIf="f.servicerequestid.errors.required">
                  Service Request is required
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <label for="returndate">Date</label>
              <input bsDatepicker formControlName="traveldate" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.traveldate.errors }" />

              <div *ngIf="submitted && f.traveldate.errors" class="invalid-feedback">
                <div *ngIf="f.traveldate.errors.required">Date is required</div>
              </div>

            </div>
            <div class="col-md-4 col-sm-4">
              <label for="departuredate">City</label>
              <input type="text" formControlName="city" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />

              <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                <div *ngIf="f.city.errors.required">City is required</div>
              </div>

            </div>
            <div class="col-md-4 col-sm-4">
              <label for="totalamount">Total Amount</label>
              <br>
              <select id="currency" style="display:inline-block; width:30%;" formControlName="currencyId"
                class="form-select" [ngClass]="{ ' is -invalid': submitted && f.currencyId.errors}">
                <option *ngFor="let i of currencyList" value="{{i.id}}">{{i.code}}
                </option>
              </select>
              <input id="totalamount" type="number" formControlName="totalamount" class="form-control"
                style="display:inline-block; width:68%; margin-left: 5px;"
                [ngClass]="{ ' is -invalid': submitted && f.totalamount.errors}" />

              <div *ngIf="submitted && f.totalamount.errors" class="invalid-feedback">
                <div *ngIf="f.totalamount.errors.required">Amount is required</div>
              </div>

            </div>

            <div class="col-md-4 mt-4">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" formControlName="combined" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Combined</label>
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <label for="returndate">Remarks</label>
              <input type="text" formControlName="remarks" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }" />

              <div *ngIf="submitted && f.remarks.errors" class="invalid-feedback">
                <div *ngIf="f.remarks.errors.required">Remarks is required</div>
              </div>

            </div>
            <div class="col-md-4 col-sm-4">

              <label for="airline">Request Type</label>

              <select name="" placeholder="Travel Class" formControlName="requesttype" class="form-select"
                [ngClass]="{'is-invalid':submitted && f.requesttype.errors }">
                <option *ngFor="let i of travelrequesttype" value="{{i.listTypeItemId}}">{{i.itemname}}
                </option>
              </select>

              <div *ngIf="submitted && f.requesttype.errors" class="invalid-feedback">
                <div *ngIf="f.requesttype.errors.required">Request Type is required</div>
              </div>

            </div>
            <div class="col-md-4 col-sm-4" style="display: none;">
              <label for="isactive">
                <input id="isactive" type="checkbox" formControlName="isactive">
                Isactive
              </label>
            </div>

          </div>
          <br />


          <div class="row" *ngIf="hasUpdateAccess || hasAddAccess" style="margin:15px;">
            <div class="col-md-3">
              <input type="file" id="myFile" #file placeholder="Choose file"
                (change)="getfil(file.files); listfile(file.files) ;" multiple
                accept="text/plain, application/pdf, image/*">
            </div>
            <div id="selectedfiles" class="hidden col-md-4" style="max-height:200px; overflow-y:auto;display: none;">
              <section style="margin:30px 0 0 50px; max-width:600px; min-width: 300px;">
                <h5>Selected Files:</h5>
                <hr />
              </section>

            </div>
          </div>

          <div class="receipts">

            <div class="page-title">
              <div class="title_left">
                <div class="row">
                  <div class="col-md-10">
                    <h3 style="padding: 15px 0 5px 0">Receipts</h3>
                  </div>

                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <hr />

            <p style="color: red;">*Upload File Size should not exceed 10MB.</p>
            <table class="table">
              <thead>
                <tr>
                  <th *ngIf="hasDeleteAccess || hasAddAccess">Action</th>
                  <th>Amount</th>
                  <th>Remarks</th>
                  <th>Date</th>
                  <th>Download File <i class="mx-2 fas fa-download"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of rowData">
                  <td *ngIf="hasDeleteAccess || hasAddAccess">
                    <button type="button" *ngIf="hasDeleteAccess" (click)="deleteReceipts(item.id)"
                      style="background-color: transparent;color: #5ba146;border: none;">
                      <i class="fas fa-trash-alt" title="Delete" style="font-size: 19px;"></i>
                    </button>
                  </td>

                  <td>{{item.amount}}</td>

                  <td>{{item.remarks}}</td>

                  <td>{{item.createdOn}}</td>
                  <td>
                    <app-ProcessFileRenderer [parameters]="item"></app-ProcessFileRenderer>
                  </td>
                </tr>
              </tbody>
              <tfoot *ngIf="hasAddAccess" style="background: whitesmoke; border: 0.5px solid rgb(202 170 170);">
                <tr>
                  <td>
                    <button type="button" (click)="submitReceipts()"
                      style="background-color: transparent; color: #5ba146; border: none;">
                      <i class="fas fa-save" style="font-size: 20px;"></i>
                    </button>
                  </td>

                  <td style="width: 250px;">
                    <input type="number" class="form-control" formControlName="amount">
                  </td>

                  <td>
                    <textarea formControlName="comment" class="form-control"></textarea>
                  </td>

                  <td></td>
                  <td>
                    <input #stageFiles class="receiptsList_class" type="file"
                      accept=".pdf, text/plain, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/msword,application/pdf"
                      (change)="
                      getfil(stageFiles.files);
                      listfile(stageFiles.files,'receiptsFilesList')" />

                    <div>
                      <input type="checkbox" (click)="DisableChoseFile('receiptsList_class')"
                        id="receiptsFilesList_Attachment" />
                      <span> No Attachment</span>
                    </div>

                    <div id="receiptsFilesList" class="hidden" style="display: none; overflow-wrap: break-word;"></div>
                  </td>
                </tr>
              </tfoot>

            </table>

          </div>


          <div class="attachment my-4" *ngIf="id!=null">
            <div class="page-title">
              <div class="title_left">
                <h3>Attachment List</h3>
                <hr>
              </div>
            </div>
            <ag-grid-angular style="width: 100%; height: 250px;" class="my-4 ag-theme-alpine"
              (gridReady)="onGridReadyAttachments($event)" [columnDefs]="columnDefsAttachments" [rowData]="attachments"
              rowSelection="single" pagination="true" paginationPageSize=10>
            </ag-grid-angular>

          </div>

          <div class="row">
            <div class="col-md-6 col-sm-6" style="padding:10px;">
              <button type="submit" class="btn btn-primary" *ngIf="(hasUpdateAccess) || (hasAddAccess && id==null)">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Submit
              </button>
              <a routerLink="/localexpenseslist" class="btn btn-secondary" style="margin-left: 10px;">Back</a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

</layout>


<style>
  th>button {
    padding: 6px 9px;
  }

  thead {
    background-color: #5ba146;
    color: white;
  }

  tbody {
    border: 0.5px solid rgb(202 170 170);
  }

  td>textarea {
    width: 300px;
  }
</style>