<layout>
  <div class="right_col" role="main">
    <div class="container">

      <div class="page-title">
        <div class="title_left" style="display: flex; justify-content: space-between;">
          <div class="d-flex" style="align-items: center;">
            <h3>Instrument</h3>
          </div>

          <div class="controls" style="display: flex;">
            <a (click)="Back()" class="nav-link">
              <i class="fas fa-arrow-left" style="color: #5ba146;" title="Back"></i>
            </a>
            <a class="nav-link" (click)="EditMode()" *ngIf="hasUpdateAccess && !isEditMode && !isNewMode">
              <i class="fas fa-pen" style="color: #5ba146;" title="Edit"></i>
            </a>

            <a class="nav-link" (click)="CancelEdit()" *ngIf="(isEditMode || isNewMode)">
              <i class="fas fa-times" style="color: #5ba146;" title="Cancel"></i>
            </a>

            <a class="nav-link" (click)="onSubmit()"
              *ngIf="(hasUpdateAccess || hasAddAccess) && (isEditMode || isNewMode)">
              <i class="fas fa-save" style="color: #5ba146;" title="Save"></i>
            </a>

            <a class="nav-link" (click)="DeleteRecord()" *ngIf="hasDeleteAccess">
              <i class="fas fa-trash" style="color: #5ba146;" title="Delete"></i>
            </a>
          </div>
        </div>
      </div>

      <hr />
      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 ">
        <form [formGroup]="instrumentform" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-sm-4">
              <label for="custSiteId">Customer Site</label>
              <select formControlName="custSiteId" class="form-select"
                [ngClass]="{ 'is-invalid': submitted && f.custSiteId.errors }" #ddlcust
                (change)="onSiteChange(ddlcust.value)">
                <!--<option value="0">--All--</option>-->
                <option *ngFor="let config of customersite" value={{config.id}}>
                  {{config.custregname}}
                </option>
              </select>
              <div *ngIf="submitted && f.custSiteId.errors" class="invalid-feedback">
                <div *ngIf="f.custSiteId.errors.required">Customer Site is required</div>
              </div>
            </div>

            <div class="col-md-3 col-sm-3">
              <label for="serialnos">Instrument Serial No</label>
              <input type="text" #serialnos formControlName="serialnos" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.serialnos.errors }"
                style="width: 79%; display: inline-block;margin-right: 5%;" />
              <div *ngIf="submitted && f.serialnos.errors" class="invalid-feedback">
                <div *ngIf="f.serialnos.errors.required">Instrument Serial No is required</div>
              </div>
              <button type="button" class="btn btn-primary" *ngIf="isEditMode || isNewMode"
                (click)="getInstrBySerialNo(serialnos.value)">Get</button>
            </div>

            <div class="col-md-4 col-sm-4">
              <label for="insmfgdt">Instrument Manufacturing Date</label>
              <input formControlName="insmfgdt" class="form-control" bsDatepicker
                [ngClass]="{ 'is-invalid': submitted && f.insmfgdt.errors }" />
              <div *ngIf="submitted && f.insmfgdt.errors" class="invalid-feedback">
                <div *ngIf="f.insmfgdt.errors.required">Instrument Manufacturing Date is required</div>
              </div>

              <div class="col-sm-4">
                <label for="instype">Instrument Type</label>
                <!--<input type="text" formControlName="instype" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.instype.errors }" />-->
                <select formControlName="instype" class="form-select"
                  [ngClass]="{ 'is-invalid': submitted && f.instype.errors }">
                  <!--<option value="0">--All--</option>-->
                  <option *ngFor="let congfig of instuType" value={{congfig.listTypeItemId}}>
                    {{congfig.itemname}}
                  </option>
                </select>
                <div *ngIf="submitted && f.instype.errors" class="invalid-feedback">
                  <div *ngIf="f.instype.errors.required">Instrument Type is required</div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <label for="insversion">Instrument Version</label>
                <input type="text" formControlName="insversion" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.insversion.errors }" />
                <div *ngIf="submitted && f.insversion.errors" class="invalid-feedback">
                  <div *ngIf="f.insversion.errors.required">Instrument Version is required</div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <label for="shipdt">Shipment Date</label>
                <!--<input type="text" formControlName="shipdt" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.shipdt.errors shipdt}" />-->
                <input formControlName="shipdt" class="form-control" bsDatepicker
                  [ngClass]="{ 'is-invalid': submitted && f.shipdt.errors }">
                <div *ngIf="submitted && f.shipdt.errors" class="invalid-feedback">
                  <div *ngIf="f.shipdt.errors.required">Shipment Date is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <label for="installby">Installed By Distributor</label>
              <select formControlName="installby" #installedBy class="form-select"
                [ngClass]="{ 'is-invalid': submitted && f.installby.errors }">
                <option *ngFor="let config of distibutorList" value={{config.id}}>
                  {{config.distname}}
                </option>
                <option value="0">Others</option>
              </select>
              <div *ngIf="submitted && f.installby.errors" class="invalid-feedback">
                <div *ngIf="f.installby.errors.required">Installed By Distributor is required</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4" *ngIf="installedBy.value==0">
              <label for="installbyOther">Other</label>
              <input type="text" formControlName="installbyOther" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.installbyOther.errors }" />
            </div>
            <div class="col-md-4 col-sm-4">
              <label for="engname">Engineer Name</label>
              <input type="text" formControlName="engname" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.engname.errors }" />
              <div *ngIf="submitted && f.engname.errors" class="invalid-feedback">
                <div *ngIf="f.engname.errors.required">Engineer Name is required</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <label for="engcontact">Engineer Contact No</label>
              <input type="tel" formControlName="engcontact" maxlength="10" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.engcontact.errors }" />
              <div *ngIf="submitted && f.engcontact.errors" class="invalid-feedback">
                <div *ngIf="f.engcontact.errors.required">Engineer Contact No is required</div>
                <div *ngIf="f.engcontact.errors?.maxlength">Max length is 10</div>
                <div *ngIf="f.engcontact.errors?.minlength">Min length is 10</div>
              </div>
            </div>
            <div class="col-sm-4">
              <label for="operatorId">Operator Name</label>
              <select formControlName="operatorId" class="form-select"
                [ngClass]="{ 'is-invalid': submitted && f.operatorId.errors }">
                <option *ngFor="let config of contactList" value={{config.id}}>
                  {{config.fname}} {{config.lname}}
                </option>
              </select>
              <div *ngIf="submitted && f.operatorId.errors" class="invalid-feedback">
                <div *ngIf="f.operatorId.errors.required">Operator Name is required</div>
              </div>
            </div>
            <div class="col-sm-4">
              <label for="instruEngineerId">Instrumentation Engineer</label>
              <select formControlName="instruEngineerId" class="form-select"
                [ngClass]="{ 'is-invalid': submitted && f.custSiteId.errors }">
                <option *ngFor="let config of contactList" value={{config.id}}>
                  {{config.fname}} {{config.lname}}
                </option>
              </select>
              <div *ngIf="submitted && f.instruEngineerId.errors" class="invalid-feedback">
                <div *ngIf="f.instruEngineerId.errors.required">Instrumentation Engineer is required</div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4" *ngIf="hasCommercial">
              <label for="dateOfPurchase">Cost</label><br>
              <select formControlName="currencyId" style="width: 30%;display: inline-block;" class="form-select">
                <option *ngFor="let item of lstCurrency" value="{{item.id}}">{{item.code}}</option>
              </select>
              <input formControlName="cost" type="number" style="width: 68%;display: inline-block;margin-left: 5px;"
                class="form-control" />
            </div>


            <div class="col-md-4 col-sm-4" *ngIf="hasCommercial">
              <label for="dateOfPurchase">Base Currency</label><br>
              <select formControlName="baseCurrencyId" disabled style="width: 30%;display: inline-block;"
                class="form-select">
                <option *ngFor="let item of lstCurrency" value="{{item.id}}">{{item.code}}</option>
              </select>
              <input formControlName="baseCurrencyAmt" #baseAmt type="number" class="form-control"
                style="width: 68%;display: inline-block;margin-left: 5px;" />
            </div>

            <div class="col-sm-4">
              <label for="engemail">Engineer Email</label>
              <input type="text" formControlName="engemail" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.engemail.errors }" />
              <div *ngIf="submitted && f.engemail.errors" class="invalid-feedback">
                <div *ngIf="f.engemail.errors.required">Engineer Email is required</div>
              </div>
            </div>
            <div class="col-sm-4">
              <label for=""></label>
              <div class="checkbox">
                <label for="warranty">
                  <input type="checkbox" formControlName="warranty" class="" />
                  Warranty
                </label>
              </div>
            </div>
            <div class="col-sm-4" *ngIf="hasWarrenty">
              <label for="wrntystdt">Warranty Start Date</label>
              <input formControlName="wrntystdt"
                [ngClass]="{ 'is-invalid': submitted && instrumentform.controls['wrntystdt'].errors}" bsDatepicker
                class="form-control" />
              <div class="invalid-feedback">
                <div *ngIf="instrumentform.controls['wrntystdt'].errors?.required">Warranty Start Date is required
                </div>
              </div>
            </div>
            <div class="col-sm-4" *ngIf="hasWarrenty">
              <label for="wrntyendt">Warranty End Date</label>
              <input formControlName="wrntyendt" bsDatepicker
                [ngClass]="{ 'is-invalid': submitted && instrumentform.controls['wrntyendt'].errors}"
                class="form-control" />
              <div *ngIf="instrumentform.controls['wrntyendt'].errors" class="invalid-feedback">
                <div *ngIf="instrumentform.controls['wrntyendt'].errors?.required">Warranty End Date is required
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <label for="installdt">Instrument Installation</label>
              <input placeholder="date" formControlName="installdt" bsDatepicker class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.installdt.errors }" />
              <div *ngIf="submitted && f.installdt.errors" class="invalid-feedback">
                <div *ngIf="f.installdt.errors.required">Instrument Installation is required</div>
              </div>
            </div>

            <div class="col-md-6 col-sm-6">
              <label for="dateOfPurchase">Date Of Purchase</label>
              <input formControlName="dateOfPurchase" bsDatepicker class="form-control" />
            </div>

            <div class="col-md-4 col-sm-4">
              <label for="image" style="margin-right:15px;margin-top:15px;">Image</label>
              <input type='file' [disabled]="!isEditMode && !isNewMode" id="imageUpload" accept=".png, .jpg, .jpeg"
                #fileInput (change)="uploadFile(fileInput.files,id)" />
              <label *ngIf="removeUpload" [ngClass]="['custom-label', 'remove-image']"
                (click)="removeUploadedFile()"></label>
            </div>

            <div class="col-md-4 col-sm-4 instrumentImg d-flex justify-content-center" style="text-align: right;"
              *ngIf="imageUrl && imageUrl !== ''">
              <img [src]="imageUrl" style="width: 200px;height: 200px; padding:10px;">
            </div>
            <div class="col-md-4 col-sm-4">
              <label for="currencyid">Business Unit</label>
              <select formControlName="businessUnitId" class="form-select"
                [ngClass]="{ 'is-invalid': submitted && f.businessUnit.errors }">
                <option *ngFor="let c of businessUnitList" value={{c.id}}>
                  {{c.businessUnitName}}
                </option>
              </select>
              <div *ngIf="submitted && f.businessUnit.errors" class="invalid-feedback">
                <div *ngIf="f.businessUnit.errors.required">Business Unit is required</div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <label for="brandId">Brand</label>
              <select formControlName="brandId" class="form-select"
                [ngClass]="{ 'is-invalid': submitted && f.brandId.errors }">
                <option *ngFor="let c of brandList" value={{c.id}}>
                  {{c.brandName}}
                </option>
              </select>
              <div *ngIf="submitted && f.brandId.errors" class="invalid-feedback">
                <div *ngIf="f.brandId.errors.required">Brand is required</div>
              </div>
            </div>

          </div>

          <div class="page-title">
            <div class="title_left">
              <h3 style="padding:15px 0 5px 0">Spare Parts List</h3>
            </div>
          </div>
          <div class="clearfix"></div>
          <hr />

          <div class="row">
            <div class="col-sm-4">
              <label for="configtypeid">Config Type</label>
              <select [disabled]="!isEditMode && !isNewMode" class="form-select" #mySelect
                formControlName="configtypeid" (change)="onConfigChange(mySelect.value)"
                [ngClass]="{ 'is-invalid': submitted && f.configtypeid.errors }">
                <option *ngFor="let congfig of listTypeItems" value={{congfig.listTypeItemId}}>
                  {{congfig.itemname}}
                </option>
              </select>
              <div *ngIf="submitted && f.configtypeid.errors" class="invalid-feedback">
                <div *ngIf="f.configtypeid.errors.required">Config Type is required</div>
              </div>
            </div>
            <div class="col-sm-4">
              <label for="configvalueid">Config Value</label>
              <select class="form-select" formControlName="configvalueid" [disabled]="!isEditMode && !isNewMode"
                #myConfigVal>
                <option value="0"></option>
                <option *ngFor="let congfig of configValueList" value={{congfig.id}}>
                  {{congfig.configValue}}
                </option>
              </select>
              <button type="button" class="btn btn-primary mt-4" [disabled]="!isEditMode && !isNewMode"
                (click)="onDropdownChange(mySelect.value,myConfigVal.value)">Add</button>
            </div>
          </div>
          <br />
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-bs-toggle="tab" role="tab" data-bs-target="#home"
                aria-selected="true">Recommended</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-bs-toggle="tab" role="tab" data-bs-target="#profile"
                aria-selected="false">Consumables</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-bs-toggle="tab" role="tab" data-bs-target="#contact"
                aria-selected="false">Full Spare</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="otherspare-tab" data-bs-toggle="tab" role="tab" data-bs-target="#otherspare"
                aria-selected="false">Other Spare</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="col-md-12 col-sm-12" style="margin-top: 15px;margin-left: -10px;">
                <ag-grid-angular style="width: 100%; height: 500px;" (rowClicked)="onRowClicked($event)"
                  (cellValueChanged)="onCellValueChanged($event)" class="ag-theme-alpine"
                  (gridReady)="onGridReady($event)" [columnDefs]="columnDefs" [rowData]="recomandedFilter"
                  rowSelection="single" pagination="true" paginationPageSize=10></ag-grid-angular>
              </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="col-md-12 col-sm-12" style="margin-top: 15px;margin-left: -10px;">
                <ag-grid-angular style="width: 100%; height: 500px;" (rowClicked)="onRowClicked($event)"
                  (cellValueChanged)="onCellValueChanged($event)" class="ag-theme-alpine"
                  (gridReady)="onGridReady($event)" [columnDefs]="columnDefs" [rowData]="consumfilter"
                  rowSelection="single" pagination="true" paginationPageSize=10></ag-grid-angular>
              </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
              <div class="col-md-12 col-sm-12" style="margin-top: 15px;margin-left: -10px;">
                <ag-grid-angular style="width: 100%; height: 500px;" (rowClicked)="onRowClicked($event)"
                  class="ag-theme-alpine" (gridReady)="onGridReady($event)"
                  (cellValueChanged)="onCellValueChanged($event)" [columnDefs]="columnDefs" [rowData]="fullsparefilter"
                  rowSelection="single" pagination="true" paginationPageSize=10></ag-grid-angular>
              </div>
            </div>
            <div class="tab-pane fade" id="otherspare" role="tabpanel" aria-labelledby="otherspare-tab">
              <div class="col-md-12 col-sm-12" style="margin-top: 15px;margin-left: -10px;">
                <ag-grid-angular style="width: 100%; height: 500px;" (rowClicked)="onRowClicked($event)"
                  class="ag-theme-alpine" (gridReady)="onGridReady($event)"
                  (cellValueChanged)="onCellValueChanged($event)" [columnDefs]="columnDefs" [rowData]="othersparefilter"
                  rowSelection="single" pagination="true" paginationPageSize=10></ag-grid-angular>
              </div>
            </div>
          </div>
          <!--          <div class="row">-->
          <!--            <div class="col-md-4 col-sm-4">-->
          <!--              <label for="pdf" style="margin-right:15px;margin-top:15px;">Document</label>-->
          <!--              <input type='file' id="pdfUpload" multiple accept=".pdf" #filePdfInput (change)="uploadPdfFile($event)" />-->
          <!--            </div>-->
          <!--            <div class="col-md-4 col-sm-4" *ngIf="PdffileData" style="margin-top:4%;">-->
          <!--              <label></label>-->
          <!--              <button type="button" class="btn btn-link" (click)="download()">{{ PdffileData.fileName }}</button>-->
          <!--              &lt;!&ndash;<a href="pdfBase64" download="PdffileData.fileName">{{ PdffileData.fileName }}</a>&ndash;&gt;-->
          <!--            </div>-->
          <!--          </div>-->

          <div class="page-title">
            <div class="title_left">
              <h3 style="padding:15px 0 5px 0">Attachments</h3>
            </div>
          </div>
          <div class="clearfix"></div>
          <hr />

          <div class="row" *ngIf="hasUpdateAccess || hasAddAccess" style="margin:15px;">
            <div class="col-md-3">
              <input type="file" id="myFile" [disabled]="!isEditMode && !isNewMode" #file placeholder="Choose file"
                (change)="getfil(file.files); listfile(file.files) ;" multiple
                accept="text/plain, application/pdf, image/*">
            </div>
            <div id="selectedfiles" class="hidden col-md-4" style="max-height:200px; overflow-y:auto;display: none;">
              <section style="margin:30px 0 0 50px; max-width:600px; min-width: 300px;">
                <h5>Selected Files:</h5>
                <hr />
              </section>

            </div>
          </div>

          <div class="row" *ngIf="PdffileData">
            <div class="col-md-12 col-sm-12" style="margin-top: 15px;margin-left: -10px;">
              <ag-grid-angular style="width: 100%; height: 250px;" class="ag-theme-alpine"
                (gridReady)="pdfonGridReady($event)" (rowClicked)="onPdfRowClicked($event)" [columnDefs]="pdfcolumnDefs"
                [rowData]="PdffileData" rowSelection="single" pagination="true" paginationPageSize=5></ag-grid-angular>
            </div>
          </div>
          <hr />
        </form>
      </div>
    </div>
  </div>
</layout>