<layout>
  <div class="right_col" role="main">
    <div class="container">

      <div class="page-title">
        <div class="title_left" style="display: flex; justify-content: space-between;">
          <div class="d-flex" style="align-items: center;">
            <h3>AMC Details</h3>
          </div>

          <div class="controls" style="display: flex;">
            <a (click)="Back()" class="nav-link">
              <i class="fas fa-arrow-left" style="color: #5ba146;" title="Back"></i>
            </a>
            <a class="nav-link" (click)="EditMode()" *ngIf="hasUpdateAccess && !isEditMode && !isNewMode">
              <i class="fas fa-pen" style="color: #5ba146;" title="Edit"></i>
            </a>

            <a class="nav-link" (click)="CancelEdit()" *ngIf="(isEditMode || isNewMode)">
              <i class="fas fa-times" style="color: #5ba146;" title="Cancel"></i>
            </a>

            <a class="nav-link" (click)="onSubmit()"
              *ngIf="(hasUpdateAccess || hasAddAccess) && (isEditMode || isNewMode)">
              <i class="fas fa-save" style="color: #5ba146;" title="Save"></i>
            </a>

            <a class="nav-link" (click)="DeleteRecord()" *ngIf="hasDeleteAccess">
              <i class="fas fa-trash" style="color: #5ba146;" title="Delete"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
      <hr />
      <div class="col-md-12 col-sm-12">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <label for="billto">Bill To</label>
              <select id="billto" formControlName="billtoid" class="form-select"
                (change)="GetSites($event.target['value'])"
                [ngClass]="{ ' is -invalid': submitted && f.billtoid.errors}">
                <option *ngFor="let i of customersList" value="{{i.id}}">
                  {{i.custname}}
                </option>
              </select>

              <div style="display: block" *ngIf="submitted && f.billtoid.errors" class="invalid-feedback">
                <div *ngIf="f.billtoid.errors.required">Billto is required</div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <label for="CustSite">Customer Site</label>
              <select id="CustSite" formControlName="custSite" class="form-select"
                [ngClass]="{ ' is -invalid': submitted && f.custSite.errors}">
                <option *ngFor="let i of custSiteList" value="{{i.id}}">
                  {{i.custregname}}
                </option>
              </select>

              <div style="display: block" *ngIf="submitted && f.custSite.errors" class="invalid-feedback">
                <div *ngIf="f.custSite.errors.required">
                  Customer Site is required
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <label for="servicequote">Service Quote</label>
              <input id="servicequote" type="text" formControlName="servicequote" class="form-control"
                [ngClass]="{ ' is -invalid': submitted && f.servicequote.errors}" />
              <div style="display: block" *ngIf="submitted && f.servicequote.errors" class="invalid-feedback">
                <div *ngIf="f.servicequote.errors.required">
                  Service Quote is required
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <label for="sqdate">SQ Date</label>
              <input id="sqdate" bsDatepicker type="text" formControlName="sqdate" class="form-control"
                [ngClass]="{ ' is -invalid': submitted && f.sqdate.errors}" />
              <div style="display: block" *ngIf="submitted && f.sqdate.errors" class="invalid-feedback">
                <div *ngIf="f.sqdate.errors.required">SQ Date is required</div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <label for="sdate">Start Date</label>
              <input id="sdate" bsDatepicker type="text" formControlName="sdate" class="form-control"
                [ngClass]="{ ' is -invalid': submitted && f.sdate.errors}" />
              <div style="display: block" *ngIf="submitted && f.sdate.errors" class="invalid-feedback">
                <div *ngIf="f.sdate.errors.required">
                  Start Date is required
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <label for="edate">End Date</label>
              <input id="edate" bsDatepicker type="text" formControlName="edate" class="form-control"
                [ngClass]="{ ' is -invalid': submitted && f.edate.errors}" />
              <div style="display: block" *ngIf="submitted && f.edate.errors" class="invalid-feedback">
                <div *ngIf="f.edate.errors.required">End Date is required</div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <label for="project">Project</label>
              <input id="project" type="text" formControlName="project" class="form-control"
                [ngClass]="{ ' is -invalid': submitted && f.project.errors}" />
              <div style="display: block" *ngIf="submitted && f.project.errors" class="invalid-feedback">
                <div *ngIf="f.project.errors.required">Project is required</div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <label for="servicetype">Service Type</label>
              <select id="servicetype" type="text" formControlName="servicetype" class="form-select"
                [ngClass]="{ ' is -invalid': submitted && f.servicetype.errors}">
                <option *ngFor="let i of serviceType" value="{{i.listTypeItemId}}">
                  {{i.itemname}}
                </option>
              </select>
              <div style="display: block" *ngIf="submitted && f.servicetype.errors" class="invalid-feedback">
                <div *ngIf="f.servicetype.errors.required">
                  Service Type is required
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <label for="brand">Brand</label>
              <select id="brand" type="text" formControlName="brand" class="form-select"
                [ngClass]="{ ' is -invalid': submitted && f.brand.errors}">
                <option *ngFor="let i of supplierList" value="{{i.listTypeItemId}}">
                  {{i.itemname}}
                </option>
              </select>
              <div style="display: block" *ngIf="submitted && f.brand.errors" class="invalid-feedback">
                <div *ngIf="f.brand.errors.required">Brand is required</div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4 mt-2">
              <label for="tnc">First Visit Date</label><br />

              <div class="me-3" style="width: 47%; display: inline-block">
                <small style="margin: 0" id="emailHelp" class="form-text text-muted">From</small>
                <!-- <label style="font-weight: 300;" for="tnc">From</label><br> -->
                <input type="text" formControlName="firstVisitDateFrom" placeholder="From" class="form-control"
                  bsDatepicker />
              </div>

              <div class="ml-2" style="width: 47%; display: inline-block">
                <small style="margin: 0" id="emailHelp" class="form-text text-muted">To</small>
                <!-- <label style="font-weight: 300;" for="tnc">To</label><br> -->
                <input type="text" formControlName="firstVisitDateTo" placeholder="To" class="form-control"
                  bsDatepicker />
              </div>

              <div style="display: block"
                *ngIf="submitted && (f.firstVisitDateTo.errors || f.firstVisitDateFrom.errors)"
                class="invalid-feedback">
                <div *ngIf="f.tnc.errors.required">
                  First Visit Date is required
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4 mt-2">
              <label for="tnc">Second Visit Date</label><br />

              <div class="me-3" style="width: 47%; display: inline-block">
                <small style="margin: 0" id="emailHelp" class="form-text text-muted">From</small>
                <input type="text" formControlName="secondVisitDateFrom" placeholder="From" class="form-control mr-2"
                  bsDatepicker />
              </div>

              <div class="mr-2" style="width: 47%; display: inline-block">
                <small style="margin: 0" id="emailHelp" class="form-text text-muted">To</small>
                <input type="text" formControlName="secondVisitDateTo" placeholder="To" class="form-control ml-2"
                  bsDatepicker />
              </div>

              <div style="display: block"
                *ngIf="submitted && (f.secondVisitDateFrom.errors || f.secondVisitDateTo.errors)"
                class="invalid-feedback">
                <div *ngIf="f.tnc.errors.required">
                  Second Visit Date is required
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4" *ngIf="hasCommercial">
              <label for="zerorate">Zerorate</label>
              <br />
              <select id="currency" type="text" style="display: inline-block; width: 30%" formControlName="currency"
                class="form-select" [ngClass]="{ ' is -invalid': submitted && f.currency.errors}">
                <option *ngFor="let i of currencyList" value="{{i.id}}">
                  {{i.code}}
                </option>
              </select>

              <input id="zerorate" type="number" formControlName="zerorate" class="form-control"
                style="display: inline-block; width: 220px; margin-left: 5px"
                [ngClass]="{ ' is -invalid': submitted && f.zerorate.errors}" />
              <div style="display: block" *ngIf="submitted && f.zerorate.errors" class="invalid-feedback">
                <div *ngIf="f.zerorate.errors.required">
                  Zero Rate is required
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4" *ngIf="hasCommercial">
              <label for="dateOfPurchase">Base Currency</label><br>
              <select formControlName="baseCurrencyId" disabled style="width: 30%;display: inline-block;"
                class="form-select">
                <option *ngFor="let item of currencyList" value="{{item.id}}">{{item.code}}</option>
              </select>
              <input formControlName="baseCurrencyAmt" #baseAmt type="number" class="form-control"
                style="width: 68%;display: inline-block;margin-left: 5px;" />
            </div>

            <div class="col-md-4 col-sm-4">
              <label for="tnc">Comments</label>
              <textarea id="tnc" type="text" formControlName="tnc" class="form-control"
                [ngClass]="{ ' is -invalid': submitted && f.tnc.errors}"></textarea>
              <div style="display: block" *ngIf="submitted && f.tnc.errors" class="invalid-feedback">
                <div *ngIf="f.tnc.errors.required">Comments is required</div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4" *ngIf="IsDistributorView && hasId">
              <label for="PaymentTerms">Payment Terms</label>
              <ng-select [settings]="dropdownSettings" [multiple]="true" [data]="payTypes"
                formControlName="paymentTerms">
                <ng-option *ngFor="let i of payTypes" value="{{i.listTypeItemId}}">{{i.itemname}}</ng-option>
              </ng-select>
              <div style="display: block" *ngIf="submitted && f.paymentTerms.errors" class="invalid-feedback">
                <div *ngIf="f.paymentTerms.errors.required">
                  Payment Terms is required
                </div>
              </div>
            </div>
          </div>
          <br />

          <div class="page-title">
            <div class="title_left">
              <h3 style="padding: 15px 0 5px 0">Add Instrument</h3>
            </div>
          </div>
          <div class="clearfix"></div>
          <hr />
          <div class="row mt-4" *ngIf="!isCompleted && (isEditMode || isNewMode)">
            <div class="col-md-9">
              <label>Search Instruments By Serial No. </label>

              <input (input)="InstrumentSearch($event.target['value'])" #instrumentSearch list="browsers" name="browser"
                id="browser" class="form-select" style="width: 78%; display: inline-block;margin-right: 5%;" />

              <datalist id="browsers">
                <option *ngFor="let i of instrumentAutoComplete" value="{{i.serialnos}}"></option>
              </datalist>

              <button class="btn btn-primary d-inline-block" (click)="AddInstrument(instrumentSearch.value)" type="button">Add</button>
            </div>
          </div>

          <div class="row">
            <ag-grid-angular style="width: 100%; margin-top: 2.5%; height: 250px" class="ag-theme-alpine"
              (cellValueChanged)="onCellValueChanged($event)" (cellClicked)="RemoveInnstrument($event)"
              (gridReady)="onGridReady($event)" [columnDefs]="columnDefs" [rowData]="instrumentList"
              rowSelection="single" pagination="true" paginationPageSize="10">
            </ag-grid-angular>
          </div>

          <div class="offerRequestProccess" *ngIf="hasId">
            <div class="page-title">
              <div class="title_left">
                <div class="row">
                  <div class="col-md-10">
                    <h3 style="padding: 15px 0 5px 0">AMC Stages</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <hr />
            <p style="color: red">*Upload File Size should not exceed 10MB.</p>
            <div class="overflow" style="overflow: auto;">
              <table class="table">
                <thead>
                  <tr>
                    <th *ngIf="(hasDeleteAccess || hasUpdateAccess)&& !isCompleted && isEditMode">Action</th>
                    <th>Stage</th>
                    <th>Comments</th>
                    <th>Date</th>
                    <th>Download File <i class="mx-2 fas fa-download"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of rowData">
                    <td *ngIf="(hasDeleteAccess || hasUpdateAccess)&& !isCompleted && isEditMode">
                      <button type="button" *ngIf="hasDeleteAccess" (click)="deleteProcess(item.id)" style="
                        background-color: transparent;
                        color: #5ba146;
                        border: none;
                      ">
                        <i class="fas fa-trash-alt" title="Delete" style="font-size: 19px"></i>
                      </button>
                    </td>

                    <td>{{item.stageName}}</td>

                    <td>
                      {{item.paymentType}} <br *ngIf="item.paymentType"><br *ngIf="item.paymentType">
                      <span *ngIf="item.payAmt">
                        {{item.payAmtCurrency}} {{item.payAmt}} <br /><br />
                      </span>
                      {{item.comments}}
                    </td>

                    <td>{{item.createdOn}}</td>
                    <td>
                      <app-ProcessFileRenderer [parameters]="item"></app-ProcessFileRenderer>
                    </td>
                  </tr>
                </tbody>
                <tfoot *ngIf="hasUpdateAccess && !isCompleted && isEditMode" style="
                  background: whitesmoke;
                  border: 0.5px solid rgb(202 170 170);
                ">
                  <tr>
                    <td>
                      <button type="button" (click)="submitStageData()" class="btn">
                        <i class="fas fa-save" style="font-size: 20px"></i>
                      </button>
                    </td>

                    <td style="width: 250px">
                      <ng-select formControlName="stageName" id="stageName" (change)="onstageNameChanged($event)"
                        [virtualScroll]="true" [ngClass]="{'is-invalid':submitted && f.stageName.errors }">
                        <ng-option *ngFor="let i of stagesList" value="{{i.listTypeItemId}}">{{i.itemname}}
                        </ng-option>
                      </ng-select>

                      <div *ngIf="submitted && f.stageName.errors" class="invalid-feedback">
                        <div *ngIf="f.stageName.errors.required">
                          Stage Name is required
                        </div>
                      </div>
                    </td>
                    <td>
                      <div *ngIf="isPaymentTerms">
                        <label>Payment Type</label>
                        <select class="pay_terms form-select" formControlName="payterms" id="payment_type">
                          <option *ngFor="let i of paymentTypes" value="{{ i.listTypeItemId }}">
                            {{ i.itemname }}
                          </option>
                        </select>
                      </div>

                      <div *ngIf="isPaymentAmt">
                        <label>Payment Amount</label><br>
                        <select id="currency" type="text" style="display: inline-block; width: 30%;margin-right: 1%;"
                          formControlName="payAmtCurrencyId" class="form-select"
                          [ngClass]="{ ' is -invalid': submitted && f.currency.errors}">
                          <option *ngFor="let i of currencyList" value="{{i.id}}">
                            {{i.code}}
                          </option>
                        </select>
                        <input class="payAmt form-control" style="width:67%;display: inline-block;" type="number"
                          formControlName="payAmt" id="payAmt" />
                      </div>

                      <label for="stageComments" *ngIf="isPaymentTerms || isPaymentAmt">Comments</label>
                      <textarea formControlName="stageComments" class="form-control"
                        [ngClass]="{'is-invalid':submitted && f.stageComments.errors }"></textarea>

                      <div *ngIf="submitted && f.stageComments.errors" class="invalid-feedback">
                        <div *ngIf="f.stageComments.errors.required">
                          Stage Comments is required
                        </div>
                      </div>
                    </td>

                    <td></td>
                    <td>
                      <input multiple #stageFiles class="stageFilesList_class" type="file"
                        accept=".pdf, text/plain, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/msword,application/pdf"
                        (change)="
                      getfil(stageFiles.files);
                      listfile(stageFiles.files,'stageFilesList')" />

                      <div>
                        <input type="checkbox" (click)="DisableChoseFile('stageFilesList_class')"
                          id="stageFilesList_Attachment" />
                        <span> No Attachment</span>
                      </div>

                      <div id="stageFilesList" class="hidden" style="display: none; overflow-wrap: break-word"></div>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</layout>

<style>
  th>button {
    padding: 6px 9px;
  }

  thead {
    background-color: #5ba146;
    color: white;
  }

  tbody {
    border: 0.5px solid rgb(202 170 170);
  }

  td>textarea {
    width: 300px;
  }

  #stageName {
    width: 200px;
  }
</style>