<!-- <layout>
  <div class="d-flex justify-content-between">
    <style>
      .ddl {
        max-height: 300px;
        width: 250px;
        position: absolute;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 999;
        background: white;
      }
    </style>

    <div class="dropdown">
      <a class="btn btn-outline-secondary" style="margin: 6px;padding: 6px;" (click)="toggle()">Customise
      </a>
      <div class="ddl" [style.display]="isHidden ? 'none': 'block' " [style.border]="isHidden ? 'none': '0.2px solid' "
        [style.padding]="isHidden ? '0': '10px 15px' ">
        <app-customerdashboardsettings></app-customerdashboardsettings>
      </div>
    </div>

    <div class="grd" style="display:flex;justify-content: flex-end;height: 35px;margin-top: 15px;">
      <div class="btn-group ml-auto" style="height: fit-content;">
        <button
          style="height: -webkit-fill-available;padding: 1px 10px;border-radius: 0; background: lightgray;border: solid 0.2px;"
          (click)="onCalenderFilter(calenderLst[0])" #MNTHS3 class="btn active">3 Months</button>
        <button style="height: -webkit-fill-available;padding: 1px 10px; background: lightgray;border: solid 0.2px;"
          (click)="onCalenderFilter(calenderLst[1])" #MNTHS6 class="btn">6 Months</button>
        <button
          style="height: -webkit-fill-available;padding: 1px 10px; border-radius: 0;background: lightgray;border: solid 0.2px;"
          (click)="onCalenderFilter(calenderLst[2])" #MNTHS12 class="btn">12 Months</button>
      </div>
    </div>
  </div>


  <hr style="margin: 0 0 0.5rem 0;">
  <main class="main-content position-relative border-radius-lg ">
    <div class="container-fluid py-4">
      <div class="row">

        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4" style="display: none; max-height: 135px;" id="CNAME">
          <div class="card cards">
            <div class="card-header p-3 pt-2">
              <div style="border: 2px solid #5ba146; background: white;"
                class="icon icon-lg icon-shape shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                <i style="color: #5ba146" class="fas fa-fw fa-user fa-5x"></i>
                                     <img src="../../assets/img/customer-removebg-preview.png" style="height:50px" alt="">
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Client Name</p>
                <h6 class="mb-0">{{customerName}}</h6>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder">{{customerCountry}}</span>-
                Country
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4" style="display: none; max-height: 135px;" id="SITES">
          <div class="card cards">
            <div class="card-header p-3 pt-2">
              <div style="border: 2px solid #5ba146;"
                class="icon icon-lg icon-shape shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                                     <i class="fas fa-fw fa-user fa-5x"></i>
                <img src="../../assets/img/sites-removebg-preview.png" style="height: 50px" alt="">
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Sites</p>
                <h6 class="mb-0">{{siteName}}</h6>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder">{{siteRegion}}</span>- Site
                Region
              </p>
            </div>
            <div class="controls">
              <button (click)="next()"
                style="position: absolute;top: 45%;left: 85%;width: fit-content;height: fit-content;padding:1px 4px; margin: 0;border: none;color: #5ba146;font-size: 1.2rem;background-color: white">
                <i class="fas fa-chevron-circle-right"></i>

              </button>
              <button (click)="prev()"
                style="position: absolute;top: 45%;right: 85%;width: fit-content;height: fit-content;padding:1px 4px; margin: 0;border: none;color: #5ba146;font-size: 1.2rem;background-color: white">
                <i class="fas fa-chevron-circle-left"></i>
              </button>
            </div>

          </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4" style="display: none; max-height: 135px;" id="CONTS">
          <div class="card cards">
            <div class="card-header p-3 pt-2" style="padding-bottom: 0 !important;">
              <div style="border: 2px solid #5ba146;"
                class="icon icon-lg icon-shape shadow-success text-center border-radius-xl mt-n4 position-absolute">
                <i style="color: #5ba146;" class="fas fa-fw fa-users fa-5x"></i>

              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Instruments</p>
                <h6 class="mb-0">{{instruemntLength}}</h6>
                <hr class="dark horizontal my-0">

                <div class="mt-1" style="overflow-y: auto;
                height: 62px;
                font-size: 12px;">
                  <ul style="margin: 0;">
                    <li *ngFor="let item of lstInstrument" style="color: #224abe;" class="link">
                      <span style="color: green;font-size: 16px;border-radius: 50%;margin-left: -20px;">
                        <a (click)="OnPopUpOpen(item.id)"> $</a>
                      </span>
                      <a (click)="criticalServiceRequest(item.id)">
                        {{item.instypeName}} - {{item.serialnos}}
                      </a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
            <div class="card-footer" style="padding:4px;">
              <p class="mb-0"><span class="text-danger text-sm font-weight-bolder"></span> Inclusive of
                all sites
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4" style="display: none; max-height: 135px;" id="DIST">
          <div class="card cards">
            <div class="card-header p-3 pt-2">
              <div style="border: 2px solid #5ba146;"
                class="icon icon-lg icon-shape shadow-info text-center border-radius-xl mt-n4 position-absolute">
                <img src="../../assets/img/distributor.png" style="width:50px;">

              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Service Provider</p>
                <h6 class="mb-0">{{custDefDistName}}</h6>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder">{{defDistCountryName}}</span>-
                Country
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4" style="display: none;" id="SHIPP">
          <div class="card cards" style="min-height: 125px;">
            <div class="card-header p-3 pt-2">
              <div style="border: 2px solid #5ba146;"
                class="icon icon-lg icon-shape shadow-info text-center border-radius-xl mt-n4 position-absolute">
                <img src="../../assets/img/shipment.png" style="width:50px;">

              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Shipment In Process</p>
                <h6 class="mb-0">{{shipmentInProcess}}</h6>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3"></div>
          </div>
        </div>

      </div>
      <div class="row mt-4">

        <div id="COST" style="display: none" class="col-lg-4 col-md-6 mt-4 mb-4">
          <div class="card cards z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="shadow-dark border-radius-lg py-3 pe-1">
                <div class="chart" id="pOCost">
                  <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h5 style="font-size: 15px;font-weight: 500;">Cost</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mb-4" style="display: none" id="SREQT">
          <div class="card cards z-index-2  ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="shadow-dark border-radius-lg py-3 pe-1">
                <div class="chart" id="completedServiceRequest">
                  <canvas id="chart-line" class="chart-canvas" height="170"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h5 style="font-size: 15px;font-weight: 500;"> Completed Service Request</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mb-3" style="display: none" id="PSREQ">
          <div class="card cards z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="shadow-dark border-radius-lg py-3 pe-1">
                <div class="chart" id="pendingServiceRequest">
                  <canvas id="chart-line-tasks" class="chart-canvas" height="170"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h5 style="font-size: 15px;font-weight: 500;">Pending Service Request</h5>
            </div>
          </div>
        </div>

      </div>
      <div class="row mb-4 ">
        <div class="col-lg-4 col-md-3 mb-md-0 mb-2" style="display: none" id="INSDN">
          <div class="card cards">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-12 col-12">
                  <h5 style="font-size: 15px;">Instruments Down</h5>
                </div>
              </div>
            </div>
            <div class="card-body px-2 pb-2">
              <div class="table-responsive" style="height: 27.5rem;">
                <table class="table align-items-center mb-0" style="overflow: auto;">
                  <thead>

                    <tr>
                      <th>
                        <h6> SR#</h6>
                      </th>

                      <th>
                        <h6> Instrument</h6>
                      </th>

                      <th>
                        <h6> Engineer</h6>
                      </th>

                    </tr>

                  </thead>
                  <tbody>

                    <tr *ngFor="let x of srList">
                      <td style="font-size: 11px !important; color:black;">{{x.serreqno}}</td>
                      <td style="font-size: 11px !important; color:black;">{{x.machineModelName}}</td>
                      <td class="align-middle" style="font-size: 11px !important; color:black;"> {{x.assignedtoName}}
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-3 mb-md-0 mb-2" style="display: none" id="PO">
          <div class="card cards">
            <div class="card-header pb-0">

              <div class="row">
                <div class="col-lg-6 col-7">
                  <h5 style="font-size: 15px;">Purchase Order</h5>
                </div>
              </div>
            </div>
            <div class="card-body px-2 pb-2">
              <div class="table-responsive" style="height: 27.5rem;">
                <table class="table align-items-center mb-0" style="overflow: auto;">
                  <thead>
                    <tr>
                      <th>
                        <h6>SQ Date</h6>
                      </th>
                      <th>
                        <h6> Service Quote</h6>
                      </th>
                      <th>
                        <h6> Amount</h6>
                      </th>
                      <th>
                        <h6> Status</h6>
                      </th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr style="font-size: 12px; color:black;" *ngFor="let item of amcData">
                      <td>
                        <a [routerLink]="'/amc/'+item.id" style="text-decoration: underline ;">{{item.sqdate}}</a>
                      </td>
                      <td>{{item.servicequote}}</td>
                      <td class="align-middle">{{item.zerorate}}</td>
                      <td>{{item.stageName }}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" style="display: none" id="SPREC">
          <div class="card h-100 cards">
            <div class="card-header pb-0">
              <h5 style="font-size: 15px;">Spare Recommended</h5>
            </div>
            <div class="card-body p-3" style="height: 525px; overflow-y: auto;">
              <div style="margin-bottom: 10px;background-color: lightgray;padding: 7px 15px;"
                class="alert alert-dismissible fade show" role="alert" *ngFor="let x of spRecomList">
                <h5 style="font-size: 12px;">{{x.partno}}<span>({{x.qtyRecommended}})</span></h5>
                <div class="sub-heading" style="font-size: 11px;">
                  <span class="dist">{{x.defaultDistributor}}: </span> <span class="eng">{{x.assignedTofName}}</span>
                </div>

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" style="display: none;max-height: 525px;" id="SINVT">
          <div class="card h-100 cards">
            <div class="card-header pb-0">
              <h5 style="font-size: 15px;">Spare Inventory</h5>
            </div>
            <div class="card-body p-3" style="height: 525px; overflow-y: auto;">
              <div style="margin-bottom: 10px;background-color: lightgray;padding: 7px 15px;"
                class="alert alert-dismissible fade show" role="alert" *ngFor="let x of spInventory">
                <h5 style="font-size: 12px;">{{x.partNo}}<span>({{x.qtyAvailable}})</span></h5>
                <div class="sub-heading" style="font-size: 11px;">
                  <span class="dist">{{x.sparePart?.configTypeName }}: </span> <span
                    class="eng">{{x.sparePart?.configValueName}}</span>
                </div>

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>
</layout> -->

<layout>

  <div class="page-content">
    <div class="d-flex justify-content-end mb-3">
      <div class="btn-group btn-group-sm customBtnGroup">
        <a (click)="onCalenderFilter(calenderLst[0])" #MNTHS3 class="btn btn-secondary btn-cim-secondary ">3
          Months</a>
        <a (click)="onCalenderFilter(calenderLst[1])" #MNTHS6 class="btn btn-secondary btn-cim-secondary ms-2">6
          Months</a>
        <a (click)="onCalenderFilter(calenderLst[2])" #MNTHS12 class="btn btn-secondary btn-cim-secondary ms-2">12
          Months</a>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
      <div class="col">
        <div class="card shadow border-0 dashboard-card">
          <div class="card-body p-0">
            <div class="d-flex align-items-center p-3 my-2">
              <div class="widgets-icons">
                <i class="bi bi-person-circle"></i>
              </div>
              <div>
                <p class="mb-0">Client Name</p>
                <h4 class="my-1">{{customerName}}</h4>
              </div>
            </div>
            <div class="d-flex align-items-center px-3 py-2 bottomLabel">
              <span class="">{{customerCountry}}</span><span>Country</span>
            </div>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow border-0 dashboard-card">
          <div class="card-body p-0">
            <div class="d-flex align-items-center p-3 my-2">
              <div class="widgets-icons">
                <i class="bi bi-gear-fill"></i>
              </div>
              <div>
                <p class="mb-0">Sites</p>
                <h4 class="my-1">{{siteName}}</h4>
              </div>
            </div>
            <div class="d-flex align-items-center px-3 py-2 bottomLabel">
              <span class="">{{siteRegion}}</span><span>Site Region</span>
            </div>
          </div>
          <div class="controls" *ngIf="isSiteContact">
            <button (click)="next()"
              style="position: absolute;top: 49%;left: 85%;width: fit-content;height: fit-content;padding:1px 4px; margin: 0;border: none;color: #5ba146;font-size: 1.2rem;background-color: transparent">
              <i class="fas fa-chevron-circle-right"></i>

            </button>
            <button (click)="prev()"
              style="position: absolute;top: 49%;right: 85%;width: fit-content;height: fit-content;padding:1px 4px; margin: 0;border: none;color: #5ba146;font-size: 1.2rem;background-color: transparent">
              <i class="fas fa-chevron-circle-left"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow border-0 dashboard-card">
          <div class="card-body p-0">
            <div class="d-flex align-items-center p-3 mt-2">
              <div class="widgets-icons">
                <i class="bi bi-person-circle"></i>
              </div>
              <div>
                <p class="mb-0">Instruments</p>
                <h4 class="my-1">{{instruemntLength}}</h4>
              </div>
              <div class="mt-1" style="overflow-y: auto;height: 65px;font-size: 12px;width: 11rem;">
                <ul style="margin: 0; list-style: none;">
                  <li *ngFor="let item of lstInstrument" style="color: #0a58ca;" class="link">
                    <span style="font-size: 16px;border-radius: 50%;margin-left: -20px;" title="Cost Of Ownership">
                      <a class="link" (click)="OnPopUpOpen(item.id)">$</a>
                    </span>
                    <a [title]="item.instypeName + '-' +item.serialnos" (click)="criticalServiceRequest(item.id)">
                      {{item.instypeName}} - {{item.serialnos}}
                    </a>
                  </li>
                </ul>
              </div>

            </div>
            <div class="d-flex align-items-center px-3 py-2 bottomLabel">
              <span class="noDash">Inclusive of all sites</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow border-0 dashboard-card">
          <div class="card-body p-0">
            <div class="d-flex align-items-center p-3 my-2">
              <div class="widgets-icons">
                <i class="bi bi-geo-alt-fill"></i>
              </div>
              <div>
                <p class="mb-0">Service Provider</p>
                <h4 class="my-1">{{custDefDistName}}</h4>
              </div>
            </div>
            <div class="d-flex align-items-center px-3 py-2 bottomLabel">
              <span class="">{{defDistCountryName}}</span><span>Country</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-md-4">
        <div class="card shadow border-0 dashboard-card">
          <div class="card-body" id="poChartsContainer">
            <h5 class="text-center py-3">Cost</h5>
            <canvas id="poCharts" style="width:100%;max-width:700px"></canvas>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card shadow border-0 dashboard-card">
          <div class="card-body" id="compSerReqContainer">
            <h5 class="text-center py-3">Completed Service Request</h5>
            <canvas id="compSerReq" style="width:100%;max-width:600px"></canvas>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card shadow border-0 dashboard-card">
          <div class="card-body" id="pendingSerReqContainer">
            <h5 class="text-center py-3">Pending Service Request</h5>
            <canvas id="pendingSerReq" style="width:100%;max-width:600px"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-md-4">
        <div class="card shadow border-0 dashboard-card" style="min-height: 250px;">
          <div class="card-body p-0">
            <h5 class="text-center py-3">Instruments Down</h5>
            <div class="px-3">
              <table class="table table-borderless customTable">
                <thead>
                  <tr>
                    <th>SR#</th>
                    <th>Instrument</th>
                    <th>Engineer</th>
                  </tr>
                </thead>
                <tbody>
                  <tr [ngClass]="{'showHideRows-Instruments d-none':i > 2}" *ngFor="let x of srList;let i = index">
                    <td>{{x.serreqno}}</td>
                    <td>{{x.machineModelName}}</td>
                    <td>{{x.assignedtoName}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-center"><i class="bi bi-arrow-down-circle-fill downArrow"
                id="showHideRows-Instruments"></i></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card shadow border-0 dashboard-card" style="min-height: 250px;">
          <div class="card-body p-0">
            <h5 class="text-center py-3">Purchase Order</h5>
            <div class="px-3">
              <table class="table table-borderless customTable">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>PO Number</th>
                    <th>Amount</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr [ngClass]="{'showHideRows-PO d-none':i > 3}" *ngFor="let item of amcData;let i = index">
                    <td><a [routerLink]="'/offerrequest/'+item.id">{{item.podate}}</a></td>
                    <td>{{item.offReqNo}}</td>
                    <td>{{item.totalamount}}</td>
                    <td>{{item.stageName }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-center"><i class="bi bi-arrow-down-circle-fill downArrow" id="showHideRows-PO"></i></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card shadow border-0 dashboard-card" style="min-height: 250px;">
          <div class="card-body p-0">
            <h5 class="text-center py-3">Spare Recommended</h5>
            <div class="px-3 py-4">
              <div [ngClass]="{'showHideRows-spare d-none':i > 1}" class="badge-spare"
                *ngFor="let x of spRecomList;let i = index">
                <h6>{{x.partno}}({{x.qtyRecommended}})</h6>
                <p>{{x.defaultDistributor}}: {{x.assignedTofName}}</p>
              </div>
            </div>
            <div class="text-center"><i class="bi bi-arrow-down-circle-fill downArrow" id="showHideRows-spare"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</layout>

<style>
  canvas {
    height: 185px !important;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;

  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #338b19;
    border-radius: 10px;

  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #276b12;
  }
</style>