<layout>
  <div class="right_col" role="main">
    <div class="container">
      <div class="page-title">
        <div class="title_left">
          <h3>Visa Details</h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr />

      <div class="col-md-12 col-sm-12 ">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">


            <div class="col-sm-4">
              <label>Distributor</label>
              <select #distributorid (input)="getengineers($event.target.value)"
                [ngClass]="{'is-invalid':submitted && f.distId.errors }" class="form-select" formControlName="distId">
                <option *ngFor="let i of DistributorList" value="{{i.id}}">{{i.distname}}</option>
              </select>

              <div *ngIf="submitted && f.distId.errors" class="invalid-feedback">
                <div *ngIf="f.distId.errors.required">Distributor is required</div>
              </div>

            </div>

            <div class="col-sm-4">
              <label>Engineer Name</label>

              <select formControlName="engineerid" placeholder="Engineer Name" class="form-select"
                (change)="getservicerequest(distId,$event.target.value)"
                [ngClass]="{'is-invalid':submitted && f.engineerid.errors }">
                <option *ngFor="let i of engineer" value="{{i.id}}">{{i.fname + " " + i.lname}}</option>
              </select>

              <div *ngIf="submitted && f.engineerid.errors" class="invalid-feedback">
                <div *ngIf="f.engineerid.errors.required">Engineer Name is required</div>
              </div>

            </div>


            <div class="col-md-4 col-sm-4">
              <label for="servicerequestid">Service Request No.</label>
              <ng-select [multiple]="true" formControlName="servicerequestid">
                <ng-option *ngFor="let i of servicerequest" value="{{i.id}}">{{i.serreqno}}</ng-option>
              </ng-select>
              <div Style="display: block" *ngIf="submitted && f.servicerequestid.errors" class="invalid-feedback">
                <div *ngIf="f.servicerequestid.errors.required">
                  Service Request is required
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <label for="minor_Unit">Country</label>
              <select name="" placeholder="Country" formControlName="country" id="" class="form-select"
                [ngClass]="{'is-invalid':submitted && f.country.errors }">
                <option *ngFor="let i of country" value="{{i.id}}">{{i.name}}</option>
              </select>
              <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                <div *ngIf="f.country.errors.required">Country is required</div>
              </div>

            </div>

            <div class="col-md-4 col-sm-4">
              <label>Amount</label>
              <input formControlName="amount" type="number" class="form-control"
                [ngClass]="{'is-invalid':submitted && f.amount.errors }" />
              <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                <div *ngIf="t.amount.errors.required">Amount is required</div>
              </div>
            </div>

            <div class="col-md-4 mt-4">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" formControlName="combined" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Combined</label>
              </div>
            </div>


            <div class="col-md-4 col-sm-4">
              <label for="minor_Unit">Start Date</label>
              <input bsDatepicker formControlName="startdate" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.startdate.errors}" />

              <div *ngIf="submitted && f.startdate.errors" class="invalid-feedback">
                <div *ngIf="f.startdate.errors.required">start Date is required</div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <label for="minor_Unit">End Date</label>
              <input type="text" bsDatepicker formControlName="enddate" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.enddate.errors}" />

              <div *ngIf="submitted && f.enddate.errors" class="invalid-feedback">
                <div *ngIf="f.enddate.errors.required">End Date is required</div>
              </div>
            </div>



            <div class="col-md-4 col-sm-4">
              <label for="travelclass">Visa Type</label>

              <select placeholder="Travel Class" formControlName="visatypeid" class="form-select"
                [ngClass]="{'is-invalid':submitted && f.visatypeid.errors }">

                <option *ngFor="let i of visatype" value="{{i.listTypeItemId}}">{{i.itemname}}
                </option>

              </select>

              <div *ngIf="submitted && f.visatypeid.errors" class="invalid-feedback">
                <div *ngIf="f.visatypeid.errors.required">Visa Type is required</div>
              </div>

            </div>


            <div class="col-md-4 col-sm-4">
              <label for="totalamount">Visa Cost</label>
              <br>
              <select id="currency" style="display:inline-block; width:30%;" formControlName="currencyId"
                class="form-select" [ngClass]="{ ' is -invalid': submitted && f.currencyId.errors}">
                <option *ngFor="let i of currencyList" value="{{i.id}}">{{i.code}}
                </option>
              </select>

              <input id="totalamount" type="number" formControlName="visacost" class="form-control"
                style="display:inline-block; width:68%; margin-left: 5px;"
                [ngClass]="{ ' is -invalid': submitted && f.visacost.errors}" />
              <div *ngIf="submitted && f.visacost.errors" class="invalid-feedback">
                <div *ngIf="f.get('visacost').errors.required">Visa Cost is required</div>

              </div>
            </div>

            <div class="col-md-4 col-sm-4">

              <label for="airline">Request Type</label>

              <select name="" placeholder="Request Type" formControlName="requesttype" id="" class="form-select"
                [ngClass]="{'is-invalid':submitted && f.requesttype.errors }">
                <option *ngFor="let i of travelrequesttype" value="{{i.listTypeItemId}}">{{i.itemname}}
                </option>
              </select>

              <div *ngIf="submitted && f.requesttype.errors" class="invalid-feedback">
                <div *ngIf="f.requesttype.errors.required">Request Type is required</div>
              </div>

            </div>

          </div>
          <br />

          <div class="row" *ngIf="hasUpdateAccess || hasAddAccess" style="margin:15px;">
            <div class="col-md-3">
              <input type="file" id="myFile" #file placeholder="Choose file"
                (change)="getfil(file.files); listfile(file.files) ;" multiple
                accept="text/plain, application/pdf, image/*">
            </div>
            <div id="selectedfiles" class="hidden col-md-4" style="max-height:200px; overflow-y:auto;display: none;">
              <section style="margin:30px 0 0 50px; max-width:600px; min-width: 300px;">
                <h5>Selected Files:</h5>
                <hr />
              </section>

            </div>
          </div>

          <div class="attachment my-4" *ngIf="id!=null">
            <div class="page-title">
              <div class="title_left">
                <h3>Attachment List</h3>
                <hr>
              </div>
            </div>
            <ag-grid-angular style="width: 100%; height: 250px;" class="my-4 ag-theme-alpine"
              (gridReady)="onGridReadyAttachments($event)" [columnDefs]="columnDefsAttachments" [rowData]="attachments"
              rowSelection="single" pagination="true" paginationPageSize=10>
            </ag-grid-angular>

          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6" style="padding:10px;">
              <button class="btn btn-primary" *ngIf="(hasUpdateAccess) || (hasAddAccess && id==null)">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Submit
              </button>
              <a routerLink="/visadetailslist" class="btn btn-secondary" style="margin-left: 10px;">Back</a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

</layout>