<div class="modal" style="display: block" id="modal" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-scrollable" style="width: 95vw">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #589b44; color: #fff">
        <h4 class="modal-title" id="modal-basic-title">Preventive Maintenance Checklist</h4>
        <button type="button" class="btn" aria-label="Close" data-dismiss="modal" (click)="close()">
          <i class="fas fa-times" style="color: #fff !important" title="Close"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="py-3 px-3-pb-3">
          <div class="container">
            <form [formGroup]="Form" (ngSubmit)="onSubmit()">

              <div class="row">
                <div class="table-responsive">
                  <table class="table">
                    <thead>

                    <tr>
                      <th>Location</th>
                      <th>Element</th>
                      <th>Weekly</th>
                      <th>Monthly</th>
                      <th>Yearly</th>
                      <th>Every 2 Year</th>
                      <th>Every 3 Year</th>
                      <!--                  <th>Every 5 Year</th>-->
                    </tr>

                    </thead>

                    <tbody>
                    <tr formArrayName="maintenance" style="height:81.5px"
                        *ngFor="let item of Form.get('maintenance')['controls'];let i=index">

                      <td [formGroupName]="i">
                        <!--                    <input type="hidden" formControlName="screenId"/>-->
                        <!--<input type="text" formControlName="screenName" readonly />-->
                        <label>{{ getName(i).location }}</label>
                      </td>

                      <td [formGroupName]="i">{{ getName(i).element }}</td>

                      <td [formGroupName]="i" style="width:150px">
                        <input type="checkbox" formControlName="weekly"/>
                        <label *ngIf="getName(i).weekly==true"> {{ getName(i).weeklyDate}}</label>
                      </td>

                      <td [formGroupName]="i" style="width:150px">
                        <input type="checkbox" formControlName="monthly"/>
                        <label *ngIf="getName(i).monthly==true"> {{ getName(i).monthlyDate}}</label>
                      </td>

                      <td [formGroupName]="i" style="width:150px">
                        <input type="checkbox" formControlName="yearly"/>
                        <label *ngIf="getName(i).yearly==true"> {{ getName(i).yearlyDate}}</label>
                      </td>

                      <td [formGroupName]="i" style="width:150px">
                        <input type="checkbox" formControlName="every2year"/>
                        <label *ngIf="getName(i).every2year==true"> {{ getName(i).every2yearDate}}</label>
                      </td>

                      <td [formGroupName]="i" style="width:150px">
                        <input type="checkbox" formControlName="every3year"/>
                        <label *ngIf="getName(i).every3year==true"> {{ getName(i).every3yearDate}}</label>
                      </td>

                      <!--                  <td [formGroupName]="i">-->
                      <!--                    <input type="checkbox" formControlName="every5year"/>-->
                      <!--                    <label *ngIf="getName(i).every5year==true"> {{ getName(i).every5yearDate | date:'MM/dd/yyyy'}}</label>-->
                      <!--                  </td>-->

                    </tr>
                    </tbody>

                  </table>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="fixed-bottom "
                     style="margin: 0 0 50px 200px; background-color: #fff; width: 73%;padding-left: 20px;padding-top:20px">
                  <button [disabled]="loading" *ngIf="hasAddAccess||hasUpdateAccess" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Submit
                  </button>
                  <a (click)="close()" class="btn btn-secondary"
                     style="margin-left: 10px;">Back</a>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
