<layout>
  <div class="right_col" role="main">
    <div class="container">

      <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="ex1-tab-1" data-mdb-toggle="tab" routerLink="/customer/{{ customerId }}"
            routerLinkActive="active" role="tab" aria-controls="ex1-tabs-1" aria-selected="true">Customer</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" [ngClass]="{ 'disabled': customerId==null }" id="ex1-tab-2" data-mdb-toggle="tab"
            routerLink="/contactlist/C/{{ customerId }}" routerLinkActive="active" role="tab" aria-controls="ex1-tabs-2"
            aria-selected="false">Contact</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" [ngClass]="{ 'disabled': customerId==null }" id="ex1-tab-3" data-mdb-toggle="tab"
            routerLink="/customersitelist/{{ customerId }}" routerLinkActive="active" role="tab"
            aria-controls="ex1-tabs-3" aria-selected="false">Customer Site</a>
        </li>
      </ul>
      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 ">


        <div class="page-title">
          <div class="title_left" style="display: flex; justify-content: space-between;">
            <div class="d-flex" style="align-items: center;">
              <h3>Customer Details</h3>
            </div>

            <div class="controls" style="display: flex;">
              <a (click)="Back()" class="nav-link">
                <i class="fas fa-arrow-left" style="color: #5ba146;" title="Back"></i>
              </a>
              <a class="nav-link" (click)="EditMode()" *ngIf="hasUpdateAccess && !isEditMode && !isNewMode">
                <i class="fas fa-pen" style="color: #5ba146;" title="Edit"></i>
              </a>

              <a class="nav-link" (click)="CancelEdit()" *ngIf="(isEditMode || isNewMode)">
                <i class="fas fa-times" style="color: #5ba146;" title="Cancel"></i>
              </a>

              <a class="nav-link" (click)="onSubmit()"
                *ngIf="(hasUpdateAccess || hasAddAccess) && (isEditMode || isNewMode)">
                <i class="fas fa-save" style="color: #5ba146;" title="Save"></i>
              </a>

              <a class="nav-link" (click)="DeleteRecord()" *ngIf="hasDeleteAccess">
                <i class="fas fa-trash" style="color: #5ba146;" title="Delete"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
        <hr />
        <form [formGroup]="customerform" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <label for="custname">Name</label>
              <input type="text" formControlName="custname" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.custname.errors }" />
              <div *ngIf="submitted && f.custname.errors" class="invalid-feedback">
                <div *ngIf="f.custname.errors.required">Name is required</div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <label>Industry Segment</label>
              <select type="text" formControlName="industrySegment" class="form-select"
                [ngClass]="{ 'is-invalid': submitted && f.industrySegment.errors }">
                <option *ngFor="let item of industrySegmentList" value={{item.listTypeItemId}}>
                  {{item.itemname}}
                </option>
              </select>
              <div *ngIf="submitted && f.industrySegment.errors" class="invalid-feedback">
                <div *ngIf="f.industrySegment.errors.required">Industry Segment is required</div>
              </div>
            </div>

            <div class="col-sm-4">
              <label for="defdistid">Default Distributor</label>
              <select formControlName="defdistid" class="form-select" (change)="onDefDistchanged($event.target.value)"
                [ngClass]="{ 'is-invalid': submitted && f.defdistid.errors }">
                <!--<option value="0">--All--</option>-->
                <option *ngFor="let distributor of defaultdistributors" value={{distributor.id}}>
                  {{distributor.distname}}
                </option>
              </select>
              <div *ngIf="submitted && f.defdistid.errors" class="invalid-feedback">
                <div *ngIf="f.defdistid.errors.required">Default Distributor is required</div>
              </div>
            </div>
            <div class="col-sm-4">
              <label for="defdistid">Distributor Regions</label>
              <select formControlName="defdistregionid" class="form-select"
                (change)="onDistributorRegion($event.target.value)"
                [ngClass]="{ 'is-invalid': submitted && f.defdistregionid.errors }">
                <!--<option value="0">--All--</option>-->
                <option *ngFor="let distributor of distRegionsList" value="{{distributor.id}}">
                  {{distributor.region}}
                </option>
              </select>
              <div *ngIf="submitted && f.defdistregionid.errors" class="invalid-feedback">
                <div *ngIf="f.defdistregionid.errors.required">Distributor Region is required</div>
              </div>
            </div>

            <div class="col-sm-4">
              <label for="countryid">Country</label>
              <select formControlName="countryid" class="form-select"
                [ngClass]="{ 'is-invalid': submitted && f.countryid.errors }">
                <option *ngFor="let country of regionCountry" value={{country.id}}>
                  {{country.name}}
                </option>
              </select>
              <div *ngIf="submitted && f.countryid.errors" class="invalid-feedback">
                <div *ngIf="f.countryid.errors.required">Country is required</div>
              </div>
            </div>

          </div>

          <div class="page-title">
            <div class="title_left">
              <h3 style="padding:15px 0 5px 0">Address</h3>
            </div>
          </div>
          <div class="clearfix"></div>
          <hr />
          <div formGroupName="address">
            <div class="row">
              <div class="col-sm-4">
                <label for="street">Street</label>
                <input type="text" formControlName="street" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && a.get('street').errors }" />
                <div *ngIf="submitted && a.get('street').errors" class="invalid-feedback">
                  <div *ngIf="a.get('street').errors.required">Street is required</div>
                </div>
              </div>
              <div class="col-sm-4">
                <label for="area">Area</label>
                <input type="text" formControlName="area" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && a.get('area').errors }" />
                <div *ngIf="submitted && a.get('area').errors" class="invalid-feedback">
                  <div *ngIf="a.get('area').errors.required">Area is required</div>
                </div>
              </div>
              <div class="col-sm-4">
                <label for="place">Place</label>
                <input type="text" formControlName="place" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && a.get('place').errors }" />
                <div *ngIf="submitted && a.get('place').errors" class="invalid-feedback">
                  <div *ngIf="a.get('place').errors.required">Place is required</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <label for="city">City</label>
                <input type="text" formControlName="city" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && a.get('city').errors }" />
                <div *ngIf="submitted && a.get('city').errors" class="invalid-feedback">
                  <div *ngIf="a.get('city').errors.required">City is required</div>
                </div>
              </div>
              <div class="col-sm-4">
                <label for="countryid">Country</label>
                <select formControlName="countryid" class="form-select"
                  [ngClass]="{ 'is-invalid': submitted && a.get('countryid').errors }">
                  <!--<option value="0">--All--</option>-->
                  <option *ngFor="let country of countries" value={{country.id}}>
                    {{country.name}}
                  </option>
                </select>
                <div *ngIf="submitted && a.get('countryid').errors" class="invalid-feedback">
                  <div *ngIf="a.get('countryid').errors.required">Country is required</div>
                </div>
              </div>
              <div class="col-sm-4">
                <label for="zip">Zip</label>
                <input type="tel" maxlength="10" formControlName="zip" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && a.get('zip').errors }" />
                <div *ngIf="submitted && a.get('zip').errors" class="invalid-feedback">
                  <div *ngIf="a.get('zip').errors.required">Zip is required</div>
                  <div *ngIf="a.get('zip').errors?.minlength">Min length is 4</div>
                  <div *ngIf="a.get('zip').errors?.maxlength">Max length is 15</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <label for="geolat">Latitude</label>
                <input type="text" formControlName="geolat" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && a.get('geolat').errors }" />
                <div *ngIf="submitted && a.get('geolat').errors" class="invalid-feedback">
                  <div *ngIf="a.get('geolat').errors.required">Latitude is required</div>
                </div>
              </div>
              <div class="col-sm-4">
                <label for="geolong">Longitude</label>
                <input type="text" formControlName="geolong" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && a.get('geolong').errors }" />
                <div *ngIf="submitted && a.get('geolong').errors" class="invalid-feedback">
                  <div *ngIf="a.get('geolong').errors.required">Longitude is required</div>
                </div>
              </div>
            </div>
          </div>
          <hr />
        </form>
      </div>
    </div>
  </div>
</layout>